* {
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
    /* font-size: 1.5rem; */
    font-weight: bolder;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-template-rows: repeat(7, .5fr);
    grid-gap: .5rem;
    border-radius: 20px;
    padding: .5rem;
    background-color: black;
    box-shadow: 10px 10px 10px black ;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 0px;
    box-shadow: 0 4px white ;
}

.buttons:active {
    box-shadow: 0 0px white;
    transform: translateY(2px);
}

.key9, .key10, .key11 {
    background-color: lightgray;
}

.key12, .key16, .key20, .key24, .key28 {
    background-color: chocolate;
}

.key13, .key14, .key15, .key17, .key18, .key19, .key21, .key22, .key23, .key25, .key26, .key27 {
    background-color: gray;
}
.screen {
    border-radius: 0;
    color: black;
    background-color: lightsteelblue;
    border-radius: 5px;
    border: 4px solid white;
    text-align: right;
    height: 2rem;
    padding: .5rem .5rem 0 .5rem;
    letter-spacing: 5px;
}

.key1 {
    grid-area: 1/1/span 1/span 4;

}

.key5 {
    grid-area: 2/1/span 1/span 4;
 
}
.key25 {
    grid-area: 7/1/span 1/span 2;
    border-radius: 50px;
}

@media screen and (max-width: 480px) {
    * {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    * {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    * {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    * {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1201px) {
    * {
        font-size: 2rem;
    }
}

